
/* Header */
#title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#h-subtitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: cyan;
}