/* Overall layout */
#gallery-container {
  position: relative;
}

.gallery {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  width: 80vw;
}

/* Gallery entries */
.thumb-container {
  max-width: 200px;
  overflow: hidden;
}

img.thumb {
  height: 200px;
  width: auto;
}

/* Model display */

.model-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
}

.model-closed {
  display: none;
}

.nav-controls {
  display: flex;
  justify-content: space-between;
}