#intro-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 40px;
  min-height: 900px;
  width: 70%
}

.intro-block {
  background-color: #fff;
  border-radius: 50%;
  padding: 70px;
  margin: 5px 0;
  max-width: 25vw;
  opacity: .7
}

.intro-block:hover {
  opacity: 1;
  cursor: help
}

.no-anim {
  opacity: 0
}

.anim-in {}

.anim-out {}

.right {
  align-self: flex-end
}

@media screen and (max-width: 620px) {
  .intro-block {
    max-width: 100%;
    padding: 5px;
    border-radius: 3px;
  }
}